#[Generic]
#doi_url = https://doi.org/

# Relative path to the API config file
#api_config = fair-api.yaml

#[local]
#only_local = false
#repo = digital_csic
#logo_url = 'https://ifca.unican.es'
#title = FAIR EVA: Evaluator, Validator & Advisor

#[Repositories]
#Name in plugin, name in tag
#oai-pmh = 'Evaluator'
#digital_csic = 'Digital.CSIC'
#dspace7 = 'DSpace7'
#epos= 'epos'
#example_plugin = Example_Plugin
#signposting = Signposting
